:root{
    --cyan: hsl(179, 62%, 43%);
    --ligthCyan: hsl(179, 47%, 52%);
    --brightYellow: hsl(71, 73%, 54%);
    --lightGray: hsl(204, 43%, 93%);
    --grayishBlue: hsl(218, 22%, 67%);
    --white: #FFF;

    --font: 'Karla', sans-serif;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

html, body{
    margin: 0;
    /* height: 100vh; */
    background-color: var(--lightGray);
}

body{
    padding: 10rem 0;
}

@media (min-width: 970px) {
    html, body{
        margin: 0;
        height: 100vh;
    }

    body{
        padding: 0;
    }
}

h1, h2, h3, p, button{
    font-family: var(--font);
    margin: 0;
}

h1, h2, h3{
    font-weight: 700;
}

h1{
    font-size: 2.6rem;
    margin-bottom: 5%;
}

h3{
    font-size: 2rem;
    margin-bottom: 5%;
}

@media (min-width: 970px) {
    h1{
        margin-bottom: 3%;
    }
    
    h3{
        margin-bottom: 3%;
    }
}

p{
    font-size: 1.6rem;
    margin: .5rem 0;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid{
    max-width: 73rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    box-shadow: 0px 10px 20px 0px rgba(153,169,171,0.60);
}

@media (min-width: 970px) {
    .grid{
        width: 70%;
        grid-template-columns: repeat(2, 1fr);
    }
}

.grid-section{
    padding: 2rem;
}

.section-1{
    background-color: var(--white);
    border-radius: .5rem .5rem 0 0;
}

.section-2{
    background-color: var(--cyan);
}

.section-3{
    background-color: var(--ligthCyan);
    border-radius: 0 0 .5rem .5rem;
}

@media (min-width: 970px) {
    .grid-section{
        padding: 4rem;
    }

    .section-1{
        grid-column: 1/3;
    }

    .section-2{
        border-radius: 0 0 0 .5rem;
    }

    .section-3{
        border-radius: 0 0 .5rem 0;
    }
}

.section-1 h1{
    color: var(--cyan);
}

.section-1 h3{
    color: var(--brightYellow);
}

.section-1 p{
    color: var(--grayishBlue);
    line-height: 1.5;
}

.section-2, .section-3 > * {
    color: var(--white);
}

.section-2 p{
    margin: 1rem 0;
}

.section-2 p:first-of-type{
    font-size: 3.5rem;
    margin: 1.5rem 0;
}

.section-2 span{
    font-size: 1.6rem;
    opacity: 0.6;
    vertical-align: middle;
}

button{
    background-color: var(--brightYellow);
    border: none;
    border-radius: 1rem;
    box-shadow: 0px 4px 8px 0px rgba(77, 84, 85, 0.6);

    color: var(--white);
    font-size: 2rem;

    margin-top: 2rem;
    padding: 1.8rem 3rem;
    width: 100%;

    transition: transform .3s, box-shadow .3s;
}

button:hover{
    transform: translateY(-4px);
    box-shadow: 0px 6px 12px 0px rgba(77, 84, 85, 0.7);
}



.section-3 p{
    font-size: 1.4rem;
    opacity: 0.75;
}

